@font-face {
    font-family: 'Inconsolata';
    src: url('../Port-Assets/Inconsolata-Regular.ttf');
}

@font-face {
    font-family: 'Marker';
    src: url('../Port-Assets/PermanentMarker-Regular.ttf');
}